.gif-loader {
    max-width: 100%;
    max-height: 100%;
}

#gif-loader-wrapper {
    border-radius: var(--roundness);
    overflow: hidden;
}

.large-grid-loader {
    --loading-grid-1: 10px;
    --loading-grid-2: 40px;
    --loading-grid-3: 70px;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.large-grid-loader div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background: var(--action-blue);
    box-shadow: -5px -5px 7px var(--light-shadow), 5px 5px 7px var(--dark-shadow);
    animation: large-grid-loader 0.9s linear infinite;
}
.large-grid-loader div:nth-child(1) {
    top: var(--loading-grid-1);
    left: var(--loading-grid-1);
    animation-delay: 0.1s;
}
.large-grid-loader div:nth-child(2) {
    top: var(--loading-grid-1);
    left: var(--loading-grid-2);
    animation-delay: -0.6s;
}
.large-grid-loader div:nth-child(3) {
    top: var(--loading-grid-1);
    left: var(--loading-grid-3);
    animation-delay: -0.4s;
}
.large-grid-loader div:nth-child(4) {
    top: var(--loading-grid-2);
    left: var(--loading-grid-1);
    animation-delay: -0.3s;
}
.large-grid-loader div:nth-child(5) {
    top: var(--loading-grid-2);
    left: var(--loading-grid-2);
    animation-delay: -0.7s;
}
.large-grid-loader div:nth-child(6) {
    top: var(--loading-grid-2);
    left: var(--loading-grid-3);
    animation-delay: 0s;
}
.large-grid-loader div:nth-child(7) {
    top: var(--loading-grid-3);
    left: var(--loading-grid-1);
    animation-delay: -0.8s;
}
.large-grid-loader div:nth-child(8) {
    top: var(--loading-grid-3);
    left: var(--loading-grid-2);
    animation-delay: -0.5s;
}
.large-grid-loader div:nth-child(9) {
    top: var(--loading-grid-3);
    left: var(--loading-grid-3);
    animation-delay: -0.2s;
}
@keyframes large-grid-loader {
    0%, 100% {
        background: var(--action-blue);
        box-shadow: -5px -5px 7px var(--light-shadow), 5px 5px 7px var(--dark-shadow);
    }
    50% {
        background: var(--highlight-blue);
        box-shadow: inset -5px -5px 7px var(--light-shadow), inset 5px 5px 7px var(--dark-shadow);
    }
}


.large-square-line-loader {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.large-square-line-loader div {
    position: absolute;
    top: 40px;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background: var(--action-blue);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.large-square-line-loader div:nth-child(1) {
    left: 10px;
    animation: large-square-line-loader-1 0.6s infinite;
}
.large-square-line-loader div:nth-child(2) {
    left: 10px;
    animation: large-square-line-loader-2 0.6s infinite;
}
.large-square-line-loader div:nth-child(4) {
    left: 40px;
    animation: large-square-line-loader-2 0.6s infinite;
}
.large-square-line-loader div:nth-child(3) {
    left: 70px;
    animation: large-square-line-loader-3 0.6s infinite;
}

@keyframes large-square-line-loader-1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes large-square-line-loader-3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes large-square-line-loader-2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(30px, 0);
}
}


.small-square-line-loader {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
}
.small-square-line-loader div {
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: var(--action-blue);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.small-square-line-loader div:nth-child(1) {
    left: 5px;
    animation: small-square-line-loader-1 0.6s infinite;
}
.small-square-line-loader div:nth-child(2) {
    left: 5px;
    animation: small-square-line-loader-2 0.6s infinite;
}
.small-square-line-loader div:nth-child(4) {
    left: 25px;
    animation: small-square-line-loader-2 0.6s infinite;
}
.small-square-line-loader div:nth-child(3) {
    left: 45px;
    animation: small-square-line-loader-3 0.6s infinite;
}
@keyframes small-square-line-loader-1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes small-square-line-loader-3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes small-square-line-loader-2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(20px, 0);
    }
}

#key-button-progress-indicator-loading {
    position: absolute;
    top: -10;
    left: -10;
    width: 34px;
    height: 34px;
    margin: 10px;
    overflow: visible;
}

#key-button-progress-indicator-loading-rect {
    stroke: var(--action-blue);
    fill: transparent;
    height: 100%;
    width: 100%;
    rx: 15;
    ry: 15;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-dasharray: 110, 55;
    animation: key-button-progress-indicator-loading-rect 1s ease-in-out infinite;
}

@keyframes key-button-progress-indicator-loading-rect {
    0% {
        stroke-dashoffset: -110;
    }
    66% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 55;
    }
}

#key-button-progress-indicator {
    position: absolute;
    top: -10;
    left: -10;
    width: 34px;
    height: 34px;
    margin: 10px;
    overflow: visible;
}
  
#key-button-progress-indicator-rect {
    stroke: var(--action-blue);
    fill: transparent;
    height: 100%;
    width: 100%;
    rx: 15;
    ry: 15;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-dashoffset: -2;
    stroke-dasharray: 0, 110;
}

.key-button-progress-indicator-zero {
    stroke: none !important;
}