html, body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
}
  
* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
  
body {
    justify-content: center;
    align-items: center;
    margin: 0;
}

#main-panel {
    overflow: hidden;
}

#input-user {
    margin-bottom: 0px;
}

.text-input {
    border: 5px solid #bae2ff;
    border-radius: 5px;
    margin: 15px;
}

.text-input:hover {
    border-color: #6db8ed;;
}

.v {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.h {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.hv-c {
    justify-content: center;
}
  
.hv-l {
    justify-content: flex-start;
}
  
.hv-r {
    justify-content: flex-end;
}
  
.vh-c {
    align-items: center;
}
  
.vh-t {
    align-items: flex-start;
}
  
.vh-b {
    align-items: flex-end;
}
  
.p {
    margin: 15px;
    padding: 15px;
}
  
.p-out {
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
}
  
.p-in {
    box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(100,70,70,0.12);
}
  
.p-round {
    border-radius: 15px;
}
  
  
.butt {
    cursor: pointer;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    transition: background-color 1s;
    border: none;
}

.butt-main {
    background-color: #bae2ff;
}


.butt-main:hover {
    background-color: #6db8ed;
}
  
.butt:active {
    box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}
  
.txt {
    margin: 5px 15px 5px 15px;
}
  
.hide {
    display: none;
}
  
.unhide {
    display: flex;
}
  
#input-password-file {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#drop-zone {
    border: 5px solid #bae2ff;
    background-color: #d4e3ee;
    width:  250px;
    height: 150px;
    position: relative;
    gap: 10px;
}

#drop-zone:hover {
    border: 5px dashed  #6db8ed;
}

.drop-zone-active {
    border: 5px solid #6db8ed !important;
}