:root {
    --background-blue: #d4e3ee;
    --highlight-blue: #bae2ff;
    --action-blue: #6db8ed;
    --not-too-white: #f0f0f0;
}

* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

html, body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}
  
body {
    justify-content: center;
    align-items: center;
    margin: 0;
}

#main-panel {
    overflow: hidden;
}

.text-input {
    border: 5px solid var(--highlight-blue);
    border-radius: 5px;
    margin: 15px;
}

.text-input:hover {
    border-color: var(--action-blue);
}

.v {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
  
.h {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.hv-c {
    justify-content: center;
}
  
.hv-l {
    justify-content: flex-start;
}
  
.hv-r {
    justify-content: flex-end;
}
  
.vh-c {
    align-items: center;
}
  
.vh-t {
    align-items: flex-start;
}
  
.vh-b {
    align-items: flex-end;
}
  
.p {
    margin: 15px;
    padding: 15px;
}
  
.p-out {
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
}
  
.p-in {
    box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(100,70,70,0.12);
}
  
.p-round {
    border-radius: 15px;
}
  
  
.butt {
    cursor: pointer;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    transition: background-color 1s;
    border: none;
}

.butt-main {
    background-color: var(--highlight-blue);
}


.butt-main:hover {
    background-color: var(--action-blue);
}
  
.butt:active {
    box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}
  
.hide {
    display: none !important;
}
  
#input-password-file {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#drop-panel {
    border: 5px solid var(--highlight-blue);
    background-color: var(--background-blue);
    width:  250px;
    height: 150px;
    position: relative;
}

#drop-zone-title {
    padding-bottom: 10px;
}

.drop-panel-hover {
    border: 5px dashed var(--action-blue) !important;
}

.drop-panel-active {
    border: 5px solid var(--action-blue) !important;
}

.drop-panel-text-padding {
    margin-top: 50px;
}

#main-content {
    overflow-y: auto;
    background-color: var(--not-too-white);
}

#main-table {
}

.entry-table {
    flex-wrap: nowrap;
    gap: 15px;
}

.divider {
    width: 100%;
    border-bottom: 1px dashed var(--action-blue);
}

.header-row {
    font-weight: bold;
}

.header-divider {
    border-bottom: 3px solid var(--action-blue);
}

.entry-row {
    gap: 20px;
    flex-wrap: nowrap;
}

.entry-col {
    overflow: hidden;
    flex-grow: 1;
    width: 10px; /*needed to calculate grow spacing*/
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--background-blue);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--action-blue);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-blue);
}