* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.dark-mode {
    --background-blue: #3c4952;
    --highlight-blue: #4387b7;
    --action-blue: #a1d4f9;
    --not-too-white: #393939;
    --background-white: #292929;
    --text-color: #fafafa;
    --light-shadow: rgba(6, 6, 6, 0.5);
    --dark-shadow: rgba(70, 70, 70, 0.513);
    --red: #a72f2f;
    --highlight-red: #ea5656;
    --green: #2fa745;
    --highlight-green: #62cd76;
    --disabled-button: #494949;
    --disabled-text-color: #868686;
}

.light-mode {
    --background-blue: #d4e3ee;
    --highlight-blue: #bae2ff;
    --action-blue: #6db8ed;
    --not-too-white: #fafafa;
    --background-white: #e5e5e5;
    --text-color: #000000;
    --light-shadow: rgba(255, 255, 255, 0.575);
    --dark-shadow: rgba(60, 60, 60, 0.12);
    --red: #f88484;
    --highlight-red: #ce4b4b;
    --green: #95ec94;
    --highlight-green: #6ec46c;
    --disabled-button: #dbdbdb;
    --disabled-text-color: #828282;
}

html, body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--background-white);
    color: var(--text-color);
}
  
body {
    justify-content: center;
    align-items: center;
    margin: 0;
}

#main-panel {
    overflow: hidden;
    max-width: 0px;
    max-height: 0px;
    transition: max-height 1s ease-in-out 0s, max-width 1s ease-in-out 0.1s;
}

/* https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable */
.material-symbols-rounded {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--text-color);
}

.material-symbols-rounded-disabled {
    color: var(--disabled-text-color) !important;
}

.text-input {
    border: 5px solid var(--highlight-blue);
    border-radius: 5px;
    background-color: var(--not-too-white);
    color: var(--text-color);
    width: 150px;
    transition: border-color 1s;
}

.text-input:hover {
    border-color: var(--action-blue);
}

.text-area {
    border: 5px solid var(--highlight-blue);
    border-radius: 5px;
    background-color: var(--not-too-white);
    color: var(--text-color);
    transition: border-color 1s;
    height: 60px;
}

.text-area:hover {
    border-color: var(--action-blue);
}

.v {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
  
.h {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.hv-c {
    justify-content: center;
}
  
.hv-l {
    justify-content: flex-start;
}
  
.hv-r {
    justify-content: flex-end;
}
  
.vh-c {
    align-items: center;
}
  
.vh-t {
    align-items: flex-start;
}
  
.vh-b {
    align-items: flex-end;
}
  
.p {
    margin: 15px;
    padding: 15px;
}
  
.p-out {
    box-shadow: -10px -10px 15px var(--light-shadow), 10px 10px 15px var(--dark-shadow);
}
  
.p-in {
    box-shadow: inset -10px -10px 15px var(--light-shadow), inset 10px 10px 15px var(--dark-shadow);
}
  
.p-round {
    border-radius: 15px;
}
  
  
.butt {
    cursor: pointer;
    box-shadow: -10px -10px 15px var(--light-shadow), 10px 10px 15px var(--dark-shadow);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    transition: background-color 1s, box-shadow 1s;
    border: none;
}

.butt-main {
    background-color: var(--highlight-blue);
}

.butt-main-disabled {
    background-color: var(--disabled-button) !important;
    box-shadow: none !important;
    pointer-events: none;
}

.butt-main:hover {
    background-color: var(--action-blue);
}
  
.butt:active {
    box-shadow: inset -10px -10px 15px var(--light-shadow), inset 10px 10px 15px var(--dark-shadow);
}
  
.hide {
    display: none !important;
}

/* Intro page styles */
#intro-content {
    flex-wrap: nowrap;
}

.intro-main-button{
    width: 250px;
    height: 150px;
    gap: 10px;
}

/* Login page styles */
#submit-user-password-button {
    margin: 0px 0px 0px 15px;
}

#input-password {
    width: 160px;
}

#login-page-skip-spacer-text {
    color: var(--disabled-text-color);
}

#login-page-skip-button {
    width: 60px;
    height: 30px;
}

/* Drop page styles */
#input-password-file {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#drop-panel {
    border: 5px solid var(--highlight-blue);
    background-color: var(--background-blue);
    width:  250px;
    height: 150px;
    position: relative;
}

#drop-zone-title {
    padding-bottom: 10px;
}

.drop-panel-hover {
    border: 5px dashed var(--action-blue) !important;
}

.drop-panel-active {
    border: 5px solid var(--action-blue) !important;
}

.drop-panel-text-padding {
    margin-top: 50px;
}

/* Edit page styles */
#edit-content {
    background-color: var(--not-too-white);
}

#edit-view {
    width: 100%;
    gap: 10px;
    overflow-y: auto;
    flex-wrap: nowrap;
}

#edit-view-cancel-button {
    background-color: var(--red);
}

#edit-view-cancel-button:hover {
    background-color: var(--highlight-red);
}

#edit-view-confirm-button {
    background-color: var(--green);
}

#edit-view-confirm-button:hover {
    background-color: var(--highlight-green);
}

.edit-view-row {
    flex-wrap: nowrap;
}

.edit-view-row-header {
    width: 100px;
    padding-right: 10px;
}

.edit-view-row-input {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
}


/* Main page styles */
#main-content {
    background-color: var(--not-too-white);
}

/* Main page options styles */
#main-page-options {
    justify-content: space-between;
}

#input-search {
    transition: border-color 1s, width 0.3s;
}

#input-search-icon {
    position: absolute;
    top: 18px;
    left: 20px;
    transition: opacity 0.3s, font-size 0.3s;
}

.input-search-icon-disabled {
    opacity: 0;
    font-size: 0 !important;
}

#main-page-option-search {
    position: relative;
}

#main-page-option-key-indicator {
    margin-left: auto;
}

#main-page-option-download {
    
}

#main-page-option-download-button {
    margin: 15px 10px;
}

/* Main page table styles */
#main-table {
    width: 100%;
}

.entry-table {
    flex-wrap: nowrap
}

.entry-table-content {
    width: 100%;
    gap: 15px;
}

#main-table-header-content {
    margin-top: 15px; 
}

#main-table-entry-content {
    padding-top: 15px;
    overflow-y: overlay;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.divider {
    width: 100%;
}

.row-divider { 
    border-bottom: 1px dashed var(--action-blue);
}

.header-row {
    font-weight: bold;
    margin-right: 74px !important;
}

.header-divider {
    border-bottom: 3px solid var(--action-blue);
}

.wrapper-row {
    width: 100%;
}

.main-entry-more-info {
    transition: height 0.3s;
    height: 0px;
    overflow: hidden;
}

.main-entry-more-info-open {
    height: 170px !important;
}

.main-entry-more-info-content {
    padding-top: 15px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    width: auto;
    height: -webkit-fill-available;
}

.main-entry-more-info-button-content {
    gap: 15px;
    flex-wrap: nowrap;
}

.delete-entry-button {
    background-color: var(--red);
}

.delete-entry-button:hover {
    background-color: var(--highlight-red);
}

.main-entry-more-info-content-wrapper {
    overflow-y: auto;
    height: 100%;
    width: -webkit-fill-available;
}

.main-entry-more-info-content-stuff {
    flex-wrap: wrap;
    gap: 10px;
}

.main-entry-more-info-content-item {
    flex-wrap: nowrap;
    gap: 10px;
    width: auto;
    min-height: 34px;
    border: 1px dashed var(--action-blue);
    padding: 15px;
}

.main-entry-more-info-content-item-header {
    font-weight: bold;
}

.main-entry-more-info-content-item-text {
    word-break: break-word;
}

.entry-row {
    gap: 20px;
    flex-wrap: nowrap;
    margin-right: 20px;
    width: -webkit-fill-available;
}

.entry-col {
    word-break: break-word;
    flex-grow: 1;
    width: 10px; /*needed to calculate grow spacing*/
}

.entry-website-link {
    color: var(--action-blue);
}

.entry-website-link:hover {
    color: var(--highlight-blue);
}

.encrypted-info-toggle-button {
    margin: 0 0 0 20px;
}

.entry-row-button {
    margin: 0px;
}

.encrypted-info-content-password {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.encrypted-info-text-content-password {
    overflow-x: auto;
    white-space: nowrap;
}

.encrypted-info-content-secrets {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.encrypted-info-text-content-secrets {
    word-break: break-word;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--background-blue);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--action-blue);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-blue);
}