.tooltip {
    --tooltip-border-px: 5px;
    --tooltip-pointer-height-px: 5px;
    --tooltip-border-color: var(--highlight-blue) !important;
    --tooltip-pointer-color: var(--highlight-blue) !important;

    background-color: var(--not-too-white);
    cursor: default;
    border: var(--tooltip-border-px) solid var(--tooltip-border-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: var(--roundness);
    position: absolute;
    z-index: 10;
    opacity: 0.0;
    width: fit-content;
    transition: opacity 0.5s, visibility 0.5s;
    visibility: hidden;
}

.tooltip-default {
    --tooltip-border-color: var(--highlight-blue) !important;
    --tooltip-pointer-color: var(--highlight-blue) !important;
}

.tooltip-error {
    --tooltip-border-color: var(--red) !important;
    --tooltip-pointer-color: var(--red) !important;
    z-index: 30;
}

.encrypted-info-pass-copy-tooltip {
    width: max-content;
}

.tooltip-show {
    opacity: 1.0;
    visibility: visible;
}

.tooltip-right {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + var(--tooltip-pointer-height-px)), -50%);
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: calc(0px - var(--tooltip-pointer-height-px) - var(--tooltip-border-px));
    border-width: calc(var(--tooltip-pointer-height-px) + var(--tooltip-border-px));
    border-style: solid;
    border-color: transparent var(--tooltip-pointer-color) transparent transparent;
}

.tooltip-left {
    top: 50%;
    right: calc(100% + var(--tooltip-pointer-height-px));
    transform: translateY(-50%);
}

.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: calc(0px - var(--tooltip-pointer-height-px) - var(--tooltip-border-px));
    border-width: calc(var(--tooltip-pointer-height-px) + var(--tooltip-border-px));
    border-style: solid;
    border-color: transparent transparent transparent var(--tooltip-pointer-color);
}

.tooltip-top {
    bottom: calc(100% + var(--tooltip-pointer-height-px));
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: calc(0px - var(--tooltip-pointer-height-px) - var(--tooltip-border-px));
    border-width: calc(var(--tooltip-pointer-height-px) + var(--tooltip-border-px));
    border-style: solid;
    border-color: var(--tooltip-pointer-color) transparent transparent transparent;
}

.tooltip-bottom {
    top: calc(100% + var(--tooltip-pointer-height-px));
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: calc(0px - var(--tooltip-pointer-height-px) - var(--tooltip-border-px));
    border-width: calc(var(--tooltip-pointer-height-px) + var(--tooltip-border-px));
    border-style: solid;
    border-color: transparent transparent var(--tooltip-pointer-color) transparent;
}
